.m-dgalbum {
  .g-bd {
    min-height: 750px;
    background-color: #fff;
  }
  .m-newalbum {
    h3 {
      margin: 50px 0 20px 0;
      line-height: 24px;
    }
  }
  .m-albumrank {
    margin-bottom: 120px;
    h3 {
      margin: 20px 0;
      line-height: 24px;
    }
  }
}