.m-cart {
  .g-bd {
    min-height: 750px;
    background-color: #fff;
  }
  .m-bread {
    margin-bottom: 0;
  }
  .mid-txt2 {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #333;
  }
}