.subtab {
  width: 100%;
  margin-top: 40px;
  .subj {
    float: left;
    width: 542px;
    height: 300px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .pad-right {
    padding-right: 16px;
  }
}