.m-detail {
  .g-bd {
    min-height: 750px;
    background-color: #fff;
  }
  .g-main {
    width: 100%;
    margin: 0;
  }
  .n-detail {
    padding-top: 5px;
    min-height: 600px;
    .wrap {
      min-height: 530px;
    }
  }
  .n-info {
    width: 580px;
    h2 {
      line-height: 34px;
      color: #333;
      font-size: 24px;
    }
    .sellpoint {
      margin-top: 8px;
      font-size: 14px;
      color: #999;
    }
    .price {
      margin: 20px 0;
      font-size: 14px;
      .rmb {
        margin-right: 3px;
        font-size: 30px;
        color: #d33a31;
      }
      em {
        margin-right: 4px;
        font-size: 30px;
        color: #d33a31;
      }
      sub {
        position: relative;
        top: -5px;
        font-size: 14px;
        color: #cb3b3b;
      }
      .dis {
        margin-left: 16px;
        font-size: 16px;
        color: #999;
        text-decoration: line-through;
      }
    }
    .select {
      margin: 16px -16px 0 -8px;
      border: 1px solid #fff;
      padding: 0 7px;
      .title {
        height: 32px;
        overflow: hidden;
        float: left;
        height: 30px;
        line-height: 30px;
        margin-right: 30px;
        color: #999;
      }
      ul {
        overflow: hidden;
        width: 510px;
        float: left;
        margin-bottom: -8px;
      }
      li {
        float: left;
        box-sizing: border-box;
        height: 30px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 0 20px;
        border: 1px solid #e5e5e5;
        line-height: 27px;
        text-align: center;
        background: #fff;
        cursor: pointer;
        &.z-sel {
          border: 2px solid #d33a31;
          padding: 0 19px;
          line-height: 25px;
        }
      }
    }
  }
  .buyorjoin {
    a {
      position: relative;
    }
  }
  .u-btn-red,
  .u-btn-white {
    width: 170px;
    height: 50px;
    line-height: 50px;
    margin-top: 40px;
    font-size: 18px;
  }
  .u-btn-white {
    box-sizing: border-box;
    line-height: 47px;
  }
  .u-btn-red {
    i {
      margin: -4px 6px 0 0;
      vertical-align: middle;
    }
  }
  .u-btn-red-1 {
    width: 188px;
  }
  .n-content {
    overflow: hidden;
    margin-top: 66px;
    padding-bottom: 60px;
  }
  .n-content-left {
    float: left;
    width: 700px;
  }
  .n-hotrecommend {
    float: right;
    width: 340px;
  }
}