form.m-addressform {
  .u-slt {
    width: 148px;
    height: 35px;
    .curr {
      width: 148px;
      height: 35px;
      line-height: 35px;
      font-size: 14px;
    }
    .button {
      width: 147px;
    }
    ul {
      z-index: 99;
      width: 148px;
      max-height: 136px;
    }
  }
  .ztr {
    .area {
      width: 456px;
    }
  }
}