.u-counter {
  width: 132px;
  height: 30px;
  border: 1px solid #e5e5e5;
  border-left: none;
  .btn {
    float: left;
    width: 34px;
    height: 30px;
    border-left: 1px solid #e5e5e5;
    i {
      position: relative;
      left: 3px;
      top: 1px;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .btn-dis {
    i {
      opacity: 0.3;
      filter: alpha(opacity=30);
    }
  }
  .tot {
    float: left;
    width: 59px;
    height: 30px;
    border-left: 1px solid #e5e5e5;
    input {
      width: 100%;
      margin: 0;
      padding: 0;
      border: none;
      height: 30px;
      line-height: 30px;
      text-align: center;
    }
  }
}