	body,
	textarea,
	input,
	button,
	select,
	keygen,
	legend {
		font-size: 12px;
		font-family: quote, 'PingFang SC', 'Microsoft Yahei', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', 'simsun', sans-serif;
		color: #333;
		outline: 0;
		word-wrap: break-word;
		word-break: break-word;
		white-space: normal;
	}

	html,
	body {
		width: 100%;
		height: 100%;
		min-width: 1100px;
	}

	del {
		text-decoration: line-through;
	}

	a,
	a:hover {
		color: #333;
	}

	.clearfix {
		&:before,
		&:after {
			display: table;
			line-height: 0;
			content: "";
		}
		&:after {
			clear: both;
		}
	}

	.f-fl {
		float: left;
	}

	.f-fr {
		float: right;
	}

	.f-pr {
		position: relative;
	}

	.f-pa {
		position: absolute;
	}

	.f-cb {
		width: 1100px;
		margin: 0 auto;
	}

	.f-ib {
		display: inline-block;
	}

	.f-mgr10 {
		margin-right: 10px;
	}

	.f-thide {
		word-wrap: normal;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.f-thide2 {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}

	.f-blk {
		display: block;
		width: 100%;
		height: 100%;
	}

	.f-tc {
		text-align: center;
	}

	.f-mgt5 {
		margin-top: 5px;
	}

	.f-mgt10 {
		margin-top: 10px;
	}

	.f-mgr20 {
		margin-right: 20px;
	}

	.f-mgl20 {
		margin-left: 20px;
	}

	.w {
		width: 1100px;
	}

	.f-sprite {
		background: url(http://s2.music.126.net/store/web/img/sprite/modules.png?775fd30d10599cfe0b85d8bc7cb7ccdb) no-repeat 0 9999px;
	}

	.f-sprite-icon {
		background: url(http://s2.music.126.net/store/web/img/sprite/logins.png?28c178c9380e440910b404e8075be70b) no-repeat 0 9999px;
	}

	.f-shadow {
		width: 100%;
		height: 4px;
		background: url(http://s2.music.126.net/store/web/img/bort.png?8a9ed93b54a5d6873947d6643906cd1b) repeat-x;
	}

	.f-tid {
		text-indent: -9999px;
	}

	.f-fs12 {
		font-size: 12px;
	}

	.f-fs14 {
		font-size: 14px;
	}

	.f-fs18 {
		font-size: 18px;
	}

	.f-fs20 {
		font-size: 20px;
	}

	.f-fs24 {
		font-size: 24px;
	}

	.f-hide {
		display: none;
		position: absolute;
		left: -9999px;
		top: -9999px;
	}

	.f-ff2 {
		font-family: quote, "Microsoft Yahei", simsun, Arial, Helvetica, sans-serif;
		font-weight: normal;
	}

	.f-fcLink {
		color: #328ad4;
	}

	.f-hand {
		cursor: pointer;
	}

	.s-fc1 {
		color: #333;
	}

	.s-fc3 {
		color: #666;
	}

	.s-fc4 {
		color: #999;
	}

	.s-fcTheme {
		color: #d33a31;
	}

	.s-fcLink {
		color: #328ad4;
	}

	.u-icn {
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
		background: url(http://s2.music.126.net/store/web/img/sprite/icon.png?62ec5d42efa3ef62fa057c98225818a9) no-repeat 0 9999px;
	}

	.u-icn-7 {
		width: 30px;
		height: 22px;
		background-position: -80px -332px;
	}

	.u-icn-27 {
		width: 28px;
		height: 28px;
		background-position: -78px -468px;
	}

	.u-icn-28 {
		width: 28px;
		height: 28px;
		background-position: -40px -468px;
	}

	.u-icn-slt {
		width: 12px;
		height: 8px;
		background-position: -128px -506px;
	}

	.u-icn-checked {
		width: 20px;
		height: 20px;
		background-position: -120px -186px;
	}

	.u-btn {
		display: inline-block;
		height: 40px;
		line-height: 40px;
		width: 155px;
		text-align: center;
		color: #fff;
		&:hover {
			color: #fff;
		}
	}

	.u-btn-white {
		box-sizing: border-box;
		border: 2px solid #d33a31;
		color: #d33a31;
		font-size: 18px;
		background-color: #fff;
		&:hover {
			color: #d33a31;
		}
	}

	.u-btn-red {
		background-color: #d33a31;
	}

	.u-btn-gray {
		width: 170px;
		height: 50px;
		line-height: 50px;
		font-size: 18px;
		margin-top: 40px;
		background: #bfbfbf;
		cursor: default;
		pointer-events: none;
		&:hover {
			background: #bfbfbf;
			cursor: default;
			pointer-events: none;
		}
	}

	.u-btn-new {
		display: inline-block;
		height: 40px;
		line-height: 40px;
		text-align: center;
		background-color: #d33a31;
		color: #fff;
		font-size: 16px;
		text-decoration: none;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	}

	.u-btn-new2 {
		width: 140px;
	}

	.u-btn-new160 {
		width: 160px;
	}

	[hidefocus] {
		outline: none;
	}