.m-loading {
  height: 26px;
  padding: 20px 0;
  text-align: center;
  color: #999;
  .icn {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
    vertical-align: middle;
    background: url(http://s2.music.126.net/store/web/img/loading.gif?70b27aa37860ac2e74f5c2a3cd71d0f8) no-repeat;
  }
}