.m-noresult {
  .icon {
    width: 201px;
    height: 161px;
    margin: 70px auto 50px auto;
    background: url(http://s2.music.126.net/store/web/img/nofind.png?f6a8405e49f940eb109f18fffa851514);
  }
}