.m-navtab {
  ul {
    height: 21px;
    margin: 30px 0 30px 0;
    font-size: 16px;
  }
  li {
    float: left;
  }
  a {
    float: left;
    margin-right: 16px;
    color: #888;
    &:hover,
    &.selected {
      font-weight: bold;
      color: #333;
    }
    em {
      font-weight: inherit;
    }
  }
  .point {
    float: left;
    height: 21px;
    padding-right: 16px;
    background: url(http://s2.music.126.net/store/web/img/point.png?0aa5debee54f14777f18f86bf653eb82) left center no-repeat;
  }
}